# Notebook 2: Tipos de Datos

Python puede trabajar con muchos tipos de datos diferentes. Sin embargo debemos conocer unos pocos tipos de datos b치sicos: tipo _int_ (n칰meros enteros), _float_ (n칰meros reales), _string_ (cadenas de caracteres) y _bool_ (valores l칩gicos).

In [ ]:
# Los n칰meros enteros (int) se escriben como tal, sin separador decimal

print(122, type(122))

# Los n칰meros reales (float) se escriben con separador decimal, o usando notaci칩n cient칤fica

print(122.0, type(122.0))
print(1.22e2, type(1.22e2))

# Las cadenas de caracteres se escriben entre comillas simples o dobles

print('Ciento veintid칩s', type('Ciento veintid칩s'))
print("Ciento veintid칩s", type("Ciento veintid칩s"))
print("122", type("122"))

# Hay dos valores l칩gicos, True y False

print(True, type(True))
print(False, type(False))

---

## 游댱 Operaciones con n칰meros enteros (int)

Los n칰meros enteros se pueden sumar, restar y multiplicar con las operaciones +,-,* y podemos agrupar las operaciones utilizando los par칠ntesis ().

In [ ]:
print(2 + 2)
print(4 - 7)
print(8 * 7)
print(2 + (5-2) * 3)

---

La divisi칩n utiliza el s칤mbolo barra / y siempre devuelve un n칰mero real (float), aunque el resultado sea entero. Si queremos un resultado entero podemos usar la divisi칩n entera con dos barras // y para c치lcular el resto el s칤mbolo %.

In [ ]:
print(13 / 4)
print(13 // 4)
print(13 % 4)

---

Tambi칠n podemos elevar un n칰mero entero a un exponente usando dos asteriscos.

In [ ]:
print(2**3)

---

Para finalizar, podemos comparar dos n칰meros enteros usando los siguientes operadores > (mayor que), >= (mayor o igual que), < (menor que), <= (menor o igual que), == (igual que), != (no es igual que). Al usar uno de estos operadores, nos devolver치 un valor booleano, True o False.

In [ ]:
print(5 > 2)
print(5 <= 2)
print(2+2 == 2*2)

---

## 游댮 Ejercicio

Antonio tiene en un terrario 7 ara침as, 3 ciempi칠s, y 2 cucarachas. Cada ara침a tiene 8 patas, cada ciempi칠s tiene 100 patas y cada cucaracha tieneseis patas. A una de las cucarachas le falta una pata. Escribe un c칩digo en la siguiente celda que calcule el n칰mero de patas que hay en el terrario.

In [ ]:
#Escribe tu c칩digo en esta celda

---

## 游댱 Operaciones con n칰meros reales (float)

Son las mismas que con n칰meros enteros. Si combinas en una operaci칩n n칰meros enteros y n칰meros reales, el resultado ser치 un n칰mero real.

In [ ]:
print(1 + 3.4e-2 + 0.04**0.5)

---

## 游댱 Operaciones con cadenas de caracteres (string)

Las cadenas de caracteres se pueden sumar para concatenar, y se pueden multiplicar por un entero para repetir varias veces la misma cadena.

In [ ]:
print("Hola"+"mundo")
print(3*"Eco")

---

## 丘멆잺 No se pueden sumar cadenas de caracteres y n칰meros

Aunque la cadena de caracteres represente un n칰mero

In [ ]:
print("108"+37)

---

## 游댱 Operaciones l칩gicas (bool)

Podemos usar las operaciones _and_, _or_, y _not_

In [ ]:
# Ejemplos usando AND
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# Ejemplos usando OR
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# Ejemplos usando NOT
print(not True)
print(not False)